.btn{
  padding: 10px 20px;
  color: #fff;
  background-color: #F6762D;
  border-radius: 20px;
  border:3px solid transparent;
  cursor: pointer;
}
.btn:hover{
  background-color: #190249;
  border: 3px solid #F6762D;
}
